<p>Shopping Cart</p>
<ng-container *ngFor="let tshirt of tShirtList">
    <div *ngIf="tshirt.value>0" class="d-flex">
        <div>
            <img [src]="tshirt.imageURL" height="50px" width="50px" alt="">
        </div>
        <div class="d-flex flex-column">
            <div>{{tshirt.name}}</div>
            <div>{{tshirt.price}}</div>
        </div>
        <div>
            Qty: {{tshirt.value}}
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" (click)="removeFromCart(tshirt)">-</button>
            <div class="btn">{{getItemCount(tshirt.id, tShirtList)}}</div>
            <button type="button" class="btn btn-outline-primary" (click)="addToCart(tshirt)">+</button>
          </div>
          <button (click)="deleteFromCart(tshirt)" >Delete</button>
    </div>
</ng-container>

<div>
    <div class="d-flex">
        <span>Item</span> <span>Quantity</span> <span>Price</span>
    </div>
    <div *ngFor="let item of tShirtList">
        <div  *ngIf="item.value>0" class="d-flex">
            <span>{{item.name}}</span> <span>{{item.value}}</span> <span>{{item.price * item.value}} </span>
        </div>
    </div>
    <div>Total {{getTotalPrice()}}</div>
</div>

